<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
         <h5 class="text-dark bg-light p-4 mb-0">DM送信</h5>
        <div class="form-body p-4">
<%= form_with model: @chat do |f| %>
    <%= f.text_field :message, placeholder:"ここに記入" %>
     <div class="input-group mb-3 mt-4">
                <div class="input-group-prepend">
                  <span class="input-group-text" aria-hidden="true"><i class="fas fa-building"></i></span>
                </div>
    <%= f.hidden_field :room_id %>
     </div>
    <%= f.submit %>
<% end %>
 </div>
    </div>
  </div>
</div>
<table>
    <thead>
        <tr>
            <td>投稿者名</td>
            <td>投稿内容</td>
        </tr>
    </thead>
    <tbody>
        <% @chats.each do |chat| %>
            <tr>
                <td><%= chat.customer.name %></td>
                <td><%= chat.message %></td>
            </tr>
        <% end %>
    </tbody>
</table>

